body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Root */

.readable-types {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.comments {
  padding-top: 10px;
}

.comments-list {
  width: 100%;
  margin: 0;
  padding: 10;
  list-style-type: none;
}

.post-grid {
  padding: 20px;
  background: #DDD;
  display: flex = 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.open-add {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  position: fixed;
  right: 25px;
  top: 25px;
}

/* Edit Comment */
.close-create-comment {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-comment-form {
  padding: 20px;
  margin: 0 auto;
  display: flex = 1;
}

.create-comment-details {
  margin-left: 20px;
}

.cotent-row {
  display: flex;
}

.text-left {
  text-align: left;
  font-weight: 800;
  width: 20%;
}

.text-right {
  text-align: right;
  width: 80%;
}

/* Post Detail*/

.comment-grid {
  padding: 20px;
  background: #EEE;
  display: flex = 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-detail {
  width: 80%;
}
